* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* Media for the economy */
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .activities {
    height: 200px;
  }
}

.activities:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}

.whalewatchpic {
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) and (max-width: 1280px)
{  
  .whalewatchpic {
width: 60%;
height: 50%;
  }
}

.hikingpic {
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) and (max-width: 1280px)
{  
  .hikingpic {
width: 60%;
height: 50%;
  }
}

.divingpic {
  width: 100%;
  height: auto;
}

@media (min-width: 1025px) and (max-width: 1280px)
{  
  .divingpic {
width: 60%;
height: 50%;
  }
}

#link a {
display: flex;
justify-content: center;
  margin: 20px;
  color: black;
  padding: 10px;
  background-color:rgb(177, 224, 196);
  border-radius: 20px;
  border: 3px solid black;
  text-decoration: none;
}

#link p {
  text-align: center;
}

.click {
  color: crimson;
}