/*================ COMMON STYLE ===================*/
* body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  

  #container {
    min-width: 240px;
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
background: linen;
}

/*The styling for the logo on the header*/
.logoclick {
    padding: 0;
    margin: 0;
    background-image: darkslategrey;
    border-radius: 20px;
}

/*Styling for the img tag*/
.homelogo {
  border-radius: 20px;
}


.heading {
  text-align: center;
}

main {
    padding: 1em;
    margin: 0;
}



   /*Navigaion bar*/
   .header {
    overflow: hidden;
    background: darkslategrey;
    padding: 20px 20px;
  }
  
  .header-right a {
    display: flex;
    float: left;
    color: black;
    background-color:#ddd;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 24px; 
    line-height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    margin: auto;
  }

  /*This is the navigation bar code in the ipad view view*/
  @media screen and (min-width: 768px) and (max-width: 900px) {
.header a {
  padding: 7px;
}
  }
  
  .header a.logo {
    font-size: 15px;
    font-weight: bold;
  }
  
  .header-right a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header-right a.active {
    background-color: darkgrey;
    color: white;
  }
  
  .header-right {
    float: right;
  }
  

 /* Normmal size icons of the navigation bar*/
 .header-right a:nth-of-type(1) {
    background-image: url(images/home.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    margin: 0px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(2) {
    background-image: url(images/Wildlife.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(3) {
    background-image: url(images/activities.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(4) {
    background-image: url(images/beaches\ \(2\).svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(5) {
    background-image: url(images/heritage\ 1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(6) {
    background-image: url(images/Temple.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    .header-right a:nth-of-type(7) {
    background-image: url(images/grocery-15.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45px;
    background-blend-mode: overlay;
    }
    
    /*Normmal size icons of the navigation bar in the mobile view*/
    @media screen and (max-width: 540px) {
      .header a {
        float: none;
        display: block;
        text-align: center;
        line-height: 20px;
      }
      
      .header-right {
        float: none;
      }
    
      .homelogo {
          width: 100%;
          height: 120px;
      }
    
      .header-right a:nth-of-type(1) {
        background-image: url(images/home.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
      .header-right a:nth-of-type(2) {
        background-image: url(images/Wildlife.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
      .header-right a:nth-of-type(3) {
        background-image: url(images/activities.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
      .header-right a:nth-of-type(4) {
        background-image: url(images/beaches\ \(2\).svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
      .header-right a:nth-of-type(5) {
        background-image: url(images/heritage\ 1.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
      .header-right a:nth-of-type(6) {
        background-image: url(images/Temple.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
    
      .header-right a:nth-of-type(7) {
        background-image: url(images/grocery-15.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-size: 30px;
        background-blend-mode: normal;
      }
      
    }
  
footer {
      background: darkslategrey;
      padding: 0.5em;
      text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: white;
    line-height: 40px;
}

footer a:hover {
    text-decoration: underline;
    color: #ff7b00;
}



/*================== HOME STYLE ========================*/

* {
  box-sizing: border-box;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

video {
  width: 100%;
  height: 30%;
  cursor: pointer;
}


.history h2{
  text-align: left;
}

.culture h2{
  text-align: left;
}

.fig1 {
  width:250px;
  height: auto;
  }

 .greeting {
   width: 250px;
   height: auto;
 } 

 .faiths {
   width: 250px;
   height: auto;
 }


 /*When device size is too big the image becomes smaller*/
 @media (min-width: 1025px) and (max-width: 1280px)
{  
  .greeting {
width: 60%;
height: 50%;
  }

  .fig1 {
    width: 60%;
    height: 50%;
      }

  .faiths {
    width: 60%;
    height: 50%;
      }
} 

/* Economy animation image view in mobile view*/
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .eco {
    height: 200px;
  }
}

.eco:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}



/*=================== ACTIVITIES STYLE ==================*/


* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* Activities image animation in mobile view */
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .activities {
    height: 200px;
  }
}

.activities:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}



/*Image size when the screen is big*/
@media (min-width: 900px) and (max-width: 1280px)
{  
  .whalewatchpic {
width: 60%;
height: 50%;
  }

.hikingpic {
  width: 60%;
  height: 50%;
}  
 
.divingpic {
  width: 60%;
  height: 50%;
    }
  
}

/*Normal desktop view*/
.whalewatchpic {
  width: 100%;
  height: auto;
}

.divingpic {
  width: 100%;
  height: auto;
}

.hikingpic {
  width: 100%;
  height: auto;
}  


/*Links to heritage locations*/
#link a {
display: flex;
justify-content: center;
  margin: 20px;
  color: black;
  padding: 10px;
  background-color:rgb(177, 224, 196);
  border-radius: 20px;
  border: 3px solid black;
  text-decoration: none;
}

#link p {
  text-align: center;
}

#link1 a {
  display: flex;
  justify-content: center;
    margin: 20px;
    color: white;
    padding: 10px;
    background-color:rgb(31, 80, 113);
    border-radius: 20px;
    border: 3px solid black;
    text-decoration: none;
}

#link1 p {
  text-align: center;
}

.click {
  color: crimson;
}



/*FORMS STYLES*/
/*Ticket booking Styles*/

#ticketbooking{
  background-color: cornsilk;
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
}



/*==================== WILDLIFE STYLE =========================*/

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* Wildlife animation images in mobile view */
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .wild {
    height: 200px;
  }
}

/*Animation*/
.wild:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}

/*Wildlife images desktop view*/
.yalapic {
  width: 100%;
  height: auto;
}

.singarajapic {
  width: 100%;
  height: auto;
}

.udawalawepic {
  width: 100%;
  height: auto;
}

.mirissapic {
  width: 100%;
  height: auto;
}

.marinepic {
  width: 100%;
  height: auto;
}

.minneriyapic {
  width: 100%;
  height: auto;
}


/*wildlife images in mobile view*/
@media (min-width: 1000px) and (max-width: 1280px)
{  
  .yalapic {
      width: 50%;
      height: 400px;
    }
  
    .singarajapic {
      width: 50%;
      height: 400px;
    }
  
    .udawalawepic {
      width: 50%;
      height: 400px;
    }
  
    .mirissapic {
      width: 50%;
      height: 400px;
    }
  
    .marinepic {
      width: 50%;
      height: 400px;
    }
  
    .minneriyapic {
      width: 50%;
      height: 400px;
    }
}


/*Table*/
table {
  overflow: scroll;
  height: 30%;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
}

table ul {
  list-style-type: none;
}

table th {
  background-color: lightgrey;
  padding: 10px;
}

table td {
  text-align: center;
}

table li {
  text-align: left;
}

/* Maps */
.yaladiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}


.sinarajadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.udawalawediv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.mirissadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.marinediv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.minneriyadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

/*Maps in mobile view*/
@media screen and (max-width: 999px) {
  .yaladiv iframe {
    width: 100%;
    height: 350px;
    float: none;
    display: flex;
  
  }

  .sinarajadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .udawalawediv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .mirissadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .marinediv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .minneriyadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }
  
}






/*================== BEACHES STYLE ===================*/

* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* Beaches image animation in mobile view */
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .beach {
    height: 200px;
  }
}

/*Animation*/
.beach:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}

  .nilavalipic {
    width: 100%;
    height: auto;
  }
  
  .arugambaypic {
    width: 100%;
    height: auto;
  }

  .unawatunapic {
    width: 100%;
    height: auto;
  }


  @media (min-width: 1025px) and (max-width: 1280px)
  {  
    .nilavalipic {
        width: 60%;
        height: 50%;
      }
    
      .arugambaypic {
        width: 60%;
        height: 50%;
      }
    
      .unawatunapic {
        width: 60%;
        height: 50%;
      }
  }

/*====================== DONATE STYLE =====================*/

.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.7;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: black;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

* {
  box-sizing: border-box;
}
/* Create three equal columns that floats next to each other */
.column {
  background-color: lightgrey;
  float: left;
  width: 33.33%;
  padding: 5px;
  margin-top: 30px;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column h2 {
  background-color: darkslategray;
  padding: 10px;
}

.column ul {
  background-color: aliceblue;
  color: black;
  text-align: left;
  border-radius: 10px;
}

.column li {
  text-decoration: none;
}

.colour1 {
  color: rgb(255, 86, 24);
}

.colour2 {
  color: goldenrod;
}

.colour3 {
  color: silver;
}

.column h3 {
  border-radius: 10px;
  border: 3px solid black;
}

#amount {
  text-shadow: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: medium;
  border-radius: 50px;
  border: 2px solid black;
  background-color: white;
}

/* When device is small */
@media screen and (max-width: 850px) {
  .column {
      background-color: lightgrey;
      float: none;
      width: 100%;
      padding: 5px;
      margin-top: 30px;
      text-align: center;
    }
}


/*Form Styles*/



*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
}

.container2{
    min-height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container2 form{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container2 form .inputBox{
    margin-top: 20px;
}

.container2 form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container2 form .inputBox input,
.container2 form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container2 form .flexbox{
    display: flex;
    gap:15px;
}

.container2 form .flexbox .inputBox{
    flex:1 1 150px;
}

.container2 form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
}

.container2 form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container2 .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container2 .card-container .front{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
}



.container2 .card-container .front .card-number-box{
  padding: 100px 0px;
    display: flex;
    justify-content: center;
    font-size: 22px;
    color:#fff;
}

#cardholder{
  text-transform: uppercase;
}



