* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif; margin:0}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
content: "";
clear: both;
display: table;
}

/* Media for the economy */
@media screen and (max-width: 560px) {
  .column {
    float: none;
    width: 100%;
    padding: 5px;
  }

  .wild {
    height: 200px;
  }
}

.wild:hover {
  animation-name: ecopictures;
  -webkit-animation-name: ecopictures;
  transform: scale(1.2);
  -webkit-transform:scale(1.2);
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  transition: 1s;
}

.yalapic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .yalapic {
width: 50%;
height: 400px;
  }
}

.singarajapic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .singarajapic {
width: 50%;
height: 400px;
  }
}

.udawalawepic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .udawalawepic {
width: 50%;
height: 400px;
  }
}

.mirissapic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .mirissapic {
width: 50%;
height: 400px;
  }
}

.marinepic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .marinepic {
width: 50%;
height: 400px;
  }
}

.minneriyapic {
  width: 100%;
  height: auto;
}

@media (min-width: 1000px) and (max-width: 1280px)
{  
  .minneriyapic {
width: 50%;
height: 400px;
  }
}

table {
  overflow: scroll;
  height: 50%;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid #ddd;
  background-color: white;
}

table ul {
  list-style-type: none;
}

table td {
  text-align: center;
}

table li {
  text-align: left;
}

/* Maps */
.yaladiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}


.sinarajadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.udawalawediv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.mirissadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.marinediv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

.minneriyadiv iframe {
  width: 400px;
  height: 400px;
  float: right;
}

@media screen and (max-width: 900px) {
  .yaladiv iframe {
    width: 100%;
    height: 350px;
    float: none;
    display: flex;
  
  }

  .sinarajadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .udawalawediv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .mirissadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .marinediv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }

  .minneriyadiv iframe {
    width: 100%;
    height: 350px;
    float: none;
  }
  
}